@using Microsoft.Owin.Security
@using MegaMediaManager.Mvc.Models
@model ExternalLoginsListPartialViewModel

@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();

    using (Html.BeginForm(Model.Action, "Auth", new { ReturnUrl = Model.ReturnUrl, CallingAction = Model.CallingAction }))
    {
        @Html.AntiForgeryToken()
        foreach (AuthenticationDescription p in loginProviders)
        {
            Model.Provider = new ExternalLoginsListPartialViewModel.LoginProvider(p.AuthenticationType);
            <button type="submit" title="Log in using your @p.Caption account" name="provider" value="@p.AuthenticationType" class="ui @Model.Provider.Class button">
                <i class="fa fa-@Model.Provider.Icon"></i>&nbsp;&nbsp;@Model.Provider.Text
            </button>
        }
    }
}
