<appSettings>
  <add key="GoogClientID" value="216429723830-jr22u8d6mi8r5un2u41a7v1o097j7lk1.apps.googleusercontent.com" />
  <add key="GoogClientSecret" value="n2oKG2EaA_NvNS9ulZlAw7-g" />

  <add key="FacebookID" value="588573247975907" />
  <add key="FacebookSecret" value="fb423079f971eee23c533f891682e9af" />

  <add key="TheMovieDBApiKey" value="a0e9a2a4bf20414f55c0f3c1b0910ec9"/>
</appSettings>